.header {
  margin-top: 80px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", sans-serif;
  color: #444;
}

.headerTitle-small {
  position: absolute;
  top: 16%;
  font-size: 28px;
}

.headerTitle-large {
  position: absolute;
  top: 18.5%;
  font-size: 75px;
  z-index: 2;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 500px;
  position: relative;
  z-index: 1;
}
.headerBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.headerVideo {
  width: 100%;
  height: 100%;
  o-object-fit: cover;
  object-fit: cover;
  margin-top: 100px;
}
